<% layout('layouts/boilerplate') %>
    <main class="carousel">
        <% for(let film of films) { %>
            <div class="container carousel-container">
                <div class="row">
                    <h1 class="carousel__title">
                        <%= film.title %>
                    </h1>
                </div>
                <div class="row carousel__image">
                    <div class="carousel__button carousel__button--prev">
                        &lt;
                    </div>

                    <img class="carousel__image--img" src="<%= film.image.url %>" alt="">

                    <div class="carousel__button carousel__button--next">
                        &gt;
                    </div>
                </div>
                <div class="row">
                    <a href="/films/<%= film.titleSlug %>" class="button button--medium">Book tickets</a>
                </div>
            </div>
            <% } %>

    </main>
    <section class="promo">
        <div class="container row">
            <div class="col col__promo">
                <h3 class="title--medium">Register today to win</h3>
                <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                    cupiditate facilis
                    aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                <a href="/register" class="promo__link">Register</a>
            </div>
            <div class="col col__promo">
                <h3 class="title--medium">Win big cash prizes</h3>
                <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                    cupiditate facilis
                    aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                <a href="/register" class="promo__link">Find out more</a>
            </div>
            <div class="col col__promo">
                <h3 class="title--medium">Buy 3 get the 4th free</h3>
                <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                    cupiditate facilis
                    aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                <a href="/register" class="promo__link">View films</a>
            </div>
        </div>
    </section>
    <section class="top-films">
        <div class="container">
            <h3 class="title--medium">Top Films</h3>
            <div class="row">
                <% for(let film of films){ %>
                    <div class="col col__top-films">
                        <img src="<%= film.image.url %>" alt="" class="top-films__image">
                        <h3 class="top-films__title">
                            <a href="/films/<%= film.titleSlug %>" class="top-films__link">
                                <%= film.title %>
                            </a>
                        </h3>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>

    <script src="/js/carousel.js"></script>