<% layout('layouts/boilerplate') %>

    <main class="media-scroller media-scroller__snaps-inline hidden-right" data-mouse-down-at="0">
        <% for(let film of films) { %>
            <div class="media-scroller__element">
                <img src="<%= film.image.url %>" alt="" class="media-scroller__image">
                <div class="media-scroller__wrapper">
                    <p class="media-scroller__title">
                        <%= film.title %>
                    </p>
                    <a href="/films/<%= film.titleSlug %>" class="button button--medium">Book now</a>
                </div>
            </div>
            <% } %>
    </main>

    <section class="promo">
        <div class="container">
            <div class="promo__wrapper">
                <div class="promo__section hidden-bottom">
                    <h3 class="promo__title">Register today to win</h3>
                    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                        cupiditate facilis
                        aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                    <a href="/register" class="promo__link">Register</a>
                </div>
                <div class="promo__section hidden-bottom">
                    <h3 class="promo__title">Win big cash prizes</h3>
                    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                        cupiditate facilis
                        aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                    <a href="#" class="promo__link">Find out more</a>
                </div>
                <div class="promo__section hidden-bottom">
                    <h3 class="promo__title">Buy 3 get the 4th free</h3>
                    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                        cupiditate facilis
                        aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                    <div class="promo__links">
                        <a href="/films" class="promo__link">View films</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="top-films">
        <div class="container">
            <h3 class="top-films__title hidden-left"><span class="top-films__underline">Top Films</span></h3>
            <div class="top-films__wrapper">
                <% for(let film of films){ %>
                    <div class="top-films__images hidden-right">
                        <img src="<%= film.image.url %>" alt="" class="top-films__image">
                        <div class="top-films__links">
                            <a href="/films/<%= film.titleSlug %>" class="top-films__link">
                                <%= film.title %>
                            </a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </section>

    <script src="/js/mediaScroller.js"></script>