<% layout('layouts/boilerplate') %>
    <div class="forms">
        <div class="container">
            <form action="/u/<%= user.id %>?_method=PUT" id="edit-user-form" method="POST" novalidate>
                <div class="forms__field">
                    <label class="forms__label" for="firstname">First Name</label>
                    <input class="forms__input forms__underline" type="text" id="firstname" name="firstname" min="1"
                        max="50" required value="<%= user.firstname %>">
                    <div class="forms__error"></div>
                </div>
                <div class="forms__field">
                    <label class="forms__label" for="lastname">Last Name</label>
                    <input class="forms__input forms__underline" type="text" id="lastname" name="lastname" min="1"
                        max="50" required value="<%= user.lastname %>">
                    <div class="forms__error"></div>
                </div>
                <div class="forms__field">
                    <label class="forms__label" for="username">Username</label>
                    <input class="forms__input" type="text" id="username" name="username" min="4" max="15" required
                        value="<%= user.username %>">
                    <div class="forms__error"></div>
                </div>
                <div class="forms__field">
                    <label class="forms__label" for="email">Email</label>
                    <input class="forms__input" type="email" id="email" name="email" required value="<%= user.email %>">
                    <div class="forms__error"></div>
                </div>
                <% if(currentUser.isAdmin){ %>
                    <div class="forms__field">
                        <label class="forms__label" for="isAdmin"><span class="forms__underline">
                                Admin
                                Account
                            </span></label>
                        <input type="checkbox" name="isAdmin" id="isAdmin">
                    </div>
                    <% } %>
                        <div class="forms__field">
                            <button class="forms__button">Update</button>
                        </div>
            </form>
        </div>
    </div>

    <script src="/js/formValidation/editUser.js"></script>