<% layout('layouts/boilerplate') %>

    <form action="/u/<%= user.id %>?_method=PUT" method="POST" class="validate-form form" novalidate>
        <h1 class="form-h1">Edit User</h1>
        <div class="form-container">
            <div class="form-field">
                <label class="form-label" for="firstname">First Name</label>
                <input class="form-control form-input" type="text" id="firstname" name="firstname" min="1" max="50"
                    required value="<%= user.firstname %>">
            </div>
            <div class="form-field">
                <label class="form-label" for="lastname">Last Name</label>
                <input class="form-control form-input" type="text" id="lastname" name="lastname" min="1" max="50"
                    required value="<%= user.lastname %>">
            </div>
            <div class="form-field">
                <label class="form-label" for="username">Username</label>
                <input class="form-control form-input" type="text" id="username" name="username" min="4" max="15"
                    required value="<%= user.username %>">
            </div>
            <div class="form-field">
                <label class="form-label" for="email">Email</label>
                <input class="form-control form-input" type="email" id="email" name="email" required
                    value="<%= user.email %>">
            </div>
            <% if(currentUser.isAdmin){ %>
                <div class="form-field">
                    <label class="form-label" for="isAdmin">Admin Account</label>
                    <input class="form-input" type="checkbox" name="isAdmin" id="isAdmin">
                </div>
                <% } %>
                    <button class="form-btn">Update</button>
        </div>
    </form>