<% layout('layouts/boilerplate') %>
    <section class="user">
        <div class="container">
            <h1 class="user__title">
                <span class="user__underline">
                    <%= user.username %>'s profile
                </span>
            </h1>
            <div class="user__details">
                <p class="user__text--primary">First Name</p>
                <p class="user__text">
                    <%= user.firstname %>
                </p>
            </div>
            <div class="user__details">
                <p class="user__text--primary">Last Name</p>
                <p class="user__text">
                    <%= user.lastname %>
                </p>
            </div>
            <div class="user__details">
                <p class="user__text--primary">Username</p>
                <p class="user__text">
                    <%= user.username %>
                </p>
            </div>
            <div class="user__details">
                <p class="user__text--primary">Email</p>
                <p class="user__text">
                    <%= user.email %>
                </p>
            </div>
            <div class="user__details">
                <p class="user__text--primary">Age</p>
                <p class="user__text">
                    <%= user.age %>
                </p>
            </div>
            <div class="user__details">
                <p class="user__text--primary">Admin?</p>
                <p class="user__text">
                    <%= user.isAdmin %>
                </p>
            </div>
        </div>
    </section>