<% layout('layouts/boilerplate') %>
    <div class="spacer"></div>
    <% if(!currentUser){ %>
        <article class="article">
            <div class="article-container">
                <header class="heading">
                    <h1 class="heading-h1">All Films

                        <p class="heading-h1-sub">Sign in to see age appropriate films!</p>

                    </h1>
                </header>
            </div>
        </article>
        <% } else { %>
            <article class="article">
                <% for(let film of films){ %>
                    <% if(userAge) {%>
                        <% if(userAge>= film.ratingAge){ %>

                            <div class="article-container">
                                <h2 class="article-title">
                                    <%= film.title %>
                                </h2>
                                <div class="article-wrapper">
                                    <div class="article-data">
                                        <p>
                                            <%= film.runtime %> mins
                                        </p>
                                        <p>
                                            <%= film.rating %>
                                        </p>
                                        <p>
                                            <%= film.releasedate %>
                                        </p>
                                    </div>
                                    <img class="article-img" src="<%= film.image.url %>" alt="">
                                    <div class="article-genres">
                                        <% film.genre.forEach((genre)=> { %>
                                            <p>
                                                <%= genre %>
                                            </p>
                                            <% }); %>
                                    </div>
                                </div>
                                <div class="article-wrapper">
                                    <div class="article-desc">
                                        <p>
                                            <%= film.description %> Lorem ipsum dolor sit amet consectetur adipisicing
                                                elit.
                                                <span>View more...</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="article-wrapper">
                                    <div class="article-stock">
                                        <p>Only
                                            <span>
                                                <%= film.stock %>
                                            </span> left!
                                        </p>
                                    </div>
                                    <div class="article-btn">
                                        <a href="/films/<%= film.titleSlug %>">Book Now!</a>
                                    </div>
                                </div>
                            </div>


                            <% } %>
                                <% } %>
                                    <% } %>
            </article>

            <% } %>