<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/stars.css">

    <main class="film">
        <div class="container">
            <h1 class="film__title">
                <%= film.title %>
            </h1>
            <!-- IMAGE, DATA & CTA BTN -->
            <div class="film__container">
                <!-- IMAGE -->
                <img class="film__image" src="<%= film.image.url %>" alt="<%= film.image.title %> cover photo">
                <!-- DATA & CTA BTN -->
                <div class="film__wrapper">
                    <div class="film__info">
                        <div class="film__data">
                            <p class="film__text">
                                <%= film.rating %>
                            </p>
                            <p class="film__text">
                                <%= film.runtime %>
                            </p>
                            <p class="film__text">
                                <%= film.releasedate %>
                            </p>
                        </div>
                        <ul class="film__genre">
                            <% film.genre.forEach((genre)=> { %>
                                <li class="film__text film__text--bg">
                                    <%= genre %>
                                </li>
                                <% }); %>
                        </ul>
                    </div>
                    <a href="#booking" class="film__button">Book tickets</a>
                </div>
            </div>
            <!-- DESCRIPTION -->
            <div class="film__desc">
                <p class="film__text">
                    <%= film.description %> Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
                        omnis
                        officia impedit numquam, esse neque in non a doloribus labore aperiam autem maiores
                        ducimus
                        dolorem magni id tenetur. Possimus, tempora. Lorem, ipsum dolor sit amet consectetur
                        adipisicing
                        elit. Soluta quibusdam eius deserunt unde dolorem commodi, pariatur a animi possimus,
                        necessitatibus expedita minus perferendis ab porro. Molestias perspiciatis magni
                        voluptate
                        aliquam.
                </p>
            </div>
        </div>
    </main>

    <section class="promo">
        <div class="container">
            <div class="promo__wrapper">
                <div class="promo__section">
                    <h3 class="promo__title">Win big cash prizes</h3>
                    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                        cupiditate facilis
                        aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                    <a href="#" class="promo__link">Find out more</a>
                </div>
                <div class="promo__section">
                    <h3 class="promo__title">Buy 3 get the 4th free</h3>
                    <p class="promo__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil commodi nulla
                        cupiditate facilis
                        aperiam quis quasi, exercitationem, voluptatem perspiciatis atque quam temporibus.</p>
                    <div class="promo__links">
                        <a href="/films" class="promo__link">View films</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="reviews-bookings">
        <div class="container reviews-bookings__flex">

            <div class="reviews">

                <% if(currentUser){ %>
                    <form action="/films/<%= film.titleSlug %>/reviews" method="POST" id="reviews-form" novalidate>
                        <div class="reviews__form">
                            <div class="reviews__wrapper">
                                <label class="reviews__title" for="body"><span class="reviews__underline">Leave a
                                        review</span></label>

                                <div class="reviews__stars">
                                    <fieldset class="starability-basic">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]"
                                            value="1" checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="forms__field">
                                <textarea name="review[body]" id="reviewBody" class="reviews__text-area" cols="30"
                                    rows="3" minlength="1" maxlength="500" required></textarea>
                                <div class="forms__error"></div>
                            </div>

                            <div class="reviews__buttons">
                                <button class="reviews__button">Add Review</button>
                            </div>
                        </div>
                    </form>
                    <% } %>

                        <h3 class="reviews__title"><span class="reviews__underline">Reviews</span></h3>
                        <% if(!film.reviews.length){ %>
                            <span class="reviews__title--small">No reviews to show.</span>
                            <% } %>

                                <% for(let review of film.reviews){ %>
                                    <div class="reviews__review">
                                        <div class="reviews__wrapper">
                                            <p class="reviews__text">by
                                                <a href="#" class="reviews__link">
                                                    <%= review.author.username %>
                                                </a>
                                            </p>
                                            <p class="starability-result reviews__stars"
                                                data-rating="<%=review.rating%>">Rated:
                                                <%=review.rating%>
                                                    stars
                                            </p>
                                        </div>
                                        <p class="reviews__text">
                                            <%= review.body %>
                                        </p>
                                        <div class="reviews__buttons">
                                            <form class="form form--right"
                                                action="/films/<%= film.titleSlug %>/reviews/<%= review._id %>?_method=DELETE"
                                                method="POST">
                                                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                                                    <button
                                                        class="reviews__button reviews__button--small">Delete</button>
                                                    <% } %>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>

            </div>

            <aside class="bookings" id="booking">

                <h3 class="bookings__title">
                    <span class="bookings__underline">Ticket Bookings</span>
                </h3>

                <% if(!currentUser){ %>

                    <p class="bookings__text">Please login to book tickets.</p>

                    <% } else if(currentTime < film.timeslot){ %>

                        <form action="/films/<%= film.titleSlug %>" id="bookings-form" method="POST">


                            <div class="forms__field bookings__time-slots">

                                <div class="bookings__radio-tile" id="bookings-container">
                                    <label class="bookings__label" for="timeslot">
                                        <%= film.timeslot %>
                                    </label>
                                    <input class="bookings__input" id="timeslot" type="radio" name="timeslot"
                                        value="<%= film.timeslot %>">
                                </div>

                                <div class="bookings__radio-tile" id="bookings-container">
                                    <label class="bookings__label" for="none">None</label>
                                    <input class="bookings__input" id="none" type="radio" name="timeslot" value="none">
                                </div>

                                <div class="forms__error"></div>

                            </div>

                            <div class="bookings__stocks">
                                <p>
                                    <%= film.stock %> tickets left for today.
                                </p>
                            </div>

                            <div class="forms__field forms__field--row bookings__wrapper">
                                <div class="bookings__button--round" onclick="decreaseValue()">
                                    <p>-</p>
                                </div>
                                <div class="bookings__counter" id="ticket-count-view">0</div>
                                <input type="hidden" id="ticket-count" name="quantity" value="0">
                                <div class="bookings__button--round" onclick="increaseValue()">
                                    <p>+</p>
                                </div>
                                <div class="forms__error forms__error--block"></div>
                            </div>

                            <div class="bookings__buttons">
                                <button class="bookings__button">Book Tickets</button>
                            </div>

                        </form>

                        <% } else { %>
                            <p class="bookings__text">No more bookings available for today.</p>
                            <% } %>
            </aside>
        </div>
    </section>



    <script>
        function increaseValue() {
            let value = parseInt(document.getElementById('ticket-count').value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            document.getElementById('ticket-count-view').innerHTML = value;
            document.getElementById('ticket-count').value = value;
        }

        function decreaseValue() {
            let value = parseInt(document.getElementById('ticket-count').value, 10);
            value = isNaN(value) ? 0 : value;
            value < 1 ? value = 0 : value--;
            document.getElementById('ticket-count-view').innerHTML = value;
            document.getElementById('ticket-count').value = value
        }
    </script>

    <script src="/js/formValidation/reviews.js"></script>
    <script src="/js/formValidation/bookings.js"></script>